/* @media screen and (max-width: 991px){
 .name{
 	left: 40%;
 
}
.header_text{
font-size: 159px;
color: #e9ebec;
letter-spacing: 50px;
padding: 0;
}
h2{
	width: 100%;
	color: #273d46;
	font-size: 26px;
	margin-bottom: 44px;
}
.last_travel_story__text{
	width: 100%;
	font-size: 18px;
}
.quote .storypage_btn{
	position: absolute;
	margin-top: 11px;
	margin-left: 182px;
	}
.storypage_btn:hover{
	letter-spacing: 4px;
	}
.last_travel_story__img{
    width: 505px;
    height: 477px;
    z-index: -4;
}
.last_travel_story__mini-img{
    width: 372px;
    height: 248px;
    margin-top: 84px;
    }
.blog_item{
width: 45%;
height:500px;
margin-bottom: 40px;
justify-content: space-around;
}
.about_me{
	margin-top: 22px;
	padding: 87px 195px 0 133px;
	position: relative;
}
.about_me__img{
	width: 509px;
    height: 367px;
}
.quote_wrap{
	margin-top: 42px;
    margin-left: 206px;
}
.about_me h3{
	text-align: left;
	font-size: 29px;
}
.quote{
	width: 685px;
    height: 271px;
    padding: 34px 98px 60px 97px;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.13);
    font-size: 14px;
    position: absolute;
    bottom: -132px;
    right: 33px;
	}
.quote_text{
	font-style: italic;
	font-size: 26px;
	line-height: 46px;
	color: #273d46;
}
.quote .description{
	margin-top: 11px;
    margin-bottom: -3px;
}

}


@media screen and  (max-width: 768px){
.burger_menu {
    margin-left: -53px;
    margin-top: -34px;
}
.menu__item {
    font-size: 31px;
}
h2{
	margin-bottom: 24px;
}
.name{
	font-size: 75px;
}
.header_text {
    font-size: 123px;
   margin-top: 20px;
}
.last_travel_story__mini-img {
    width: 343px;
    height: 230px;
    margin-top: 100px;
    margin-left: -61px;
}
.about_me {
    margin-top: 22px;
    padding: 87px 95px 0 20px;
    position: relative;
}
.about_me__img{
	width: 501px;
    height: 361px;
}
.quote_wrap{
    margin-top: 35px;
    margin-left: 183px;
}
.about_me h3 {
    width: 200px;
    text-align: left;
    font-size: 25px;
}
.quote {
    width: 624px;
    height: 275px;
    padding: 34px 59px 60px 50px;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.13);
    font-size: 14px;
    position: absolute;
    bottom: -132px;
    right: 33px;
}
.quote_text{
	font-style: italic;
	font-size: 22px;
	line-height: 46px;
	color: #273d46;
}
.quote .storypage_btn{
	position: absolute;
	margin-top: 11px;
	margin-left: 182px;

}
.quote .description{
    margin-top: 3px;
    margin-bottom: 6px;
}

}


@media screen and (max-width: 576px){
header {
    width: 100%;
    margin: 0 auto;
    height: 239px;
    padding: 84px 18px 39px 10px;
    position: relative;
}
.header_text {
    font-size: 101px;
    margin-top: 20px;
}
.name {
    left: 26%;
}
.burger_menu {
    margin-top: -72px;
    margin-left: -5px;
    z-index: 10;
}
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex; 
  align-items: center;  
  width: 41px;
  height: 23px;
  cursor: pointer;
  z-index: 1;
  margin-bottom: 20px;
 
}
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 45px;
  height: 5px;
  background-color: #939ea2;
  border-radius: 4px;
 }
.menu__btn > span::before {
  content: '';
  top: -10px;
}
.menu__btn > span::after {
  content: '';
  top: 10px;
}
.menu__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 50%;
    height: 279px;
    margin: -8px;
    padding: 0px 0px;
    list-style: none;
    text-align: center;
    z-index: 6;
    background-color: rgba(206,214,217, 0.8);
}
 .menu__item li{
 display: block;
 width: 180px;
 }
.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #273d46;
    margin: 6px 0;
    font-size: 38px;
    text-decoration: none;
}
.menu__item:hover {
 color:#80b7b3;
 }
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  transition-duration: .5s;
  z-index: 7;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  transition-duration: .5s;
   z-index: 7;
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  transition-duration: .5s;
   z-index: 7;
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
}
#menu__toggle:checked ~ label:focus {
	z-index: 20;

} 
.main_story {
    margin-top: 11px;
}
.last_travel_story__mini-img{
	display: none;
}
.last_travel_story__text {
    font-size: 12px;
}

h2 {
    font-size: 15px;
}

.last_travel_story__img {
    width: 426px;
    height: 318px;
}
.blog_item {
    width: 45%;
    height: 414px;
    margin-bottom: 40px;
    margin-right: 15px;
    justify-content: space-around;
}
.about_me {
    margin-top: 22px;
    padding: 55px 34px 0 20px;
}
.about_me__img {
    width: 341px;
    height: 294px;
}

.quote_wrap {
    margin-top: 50px;
    margin-left: 92px;
}
.about_me h3 {
    width: 183px;
    text-align: start;
    font-size: 19px;
}
.quote_text {
    font-style: italic;
    font-size: 17px;
    line-height: 33px;
    color: #273d46;
}
.quote .description {
    margin-top: 19px;
    margin-bottom: 6px;
    }
    .quote .storypage_btn {
    position: absolute;
    margin-top: 11px;
    margin-left: 80px;
}
.quote {
    width: 424px;
    height: 189px;
    padding: 16px 42px 51px 42px;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.13);
    font-size: 8px;
    position: absolute;
    bottom: -75px;
    right: 62px;
}
.footer {
    background-repeat: no-repeat;
    width: 100%;
    height: 429px;
    margin-top: 128px;
    padding-top: 74px;
}
.ask_me {
    margin-top: 235px;
    background-color: rgba(60,79,87,0.9);
    width: 325px;
    height: 256px;
    margin: 0 auto;
    padding: 11px 25px 11px 25px;
    border-radius: 30px;
}
.form_text {
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #d8dcdd;
    width: 100%;
    margin: 0 auto;
    line-height: 23px;
    }
 .questions {
    display: block;
    margin-top: 13px;
    font-size: 25px;
    text-align: center;
    color: #80b7b3;
}
.field_question {
    padding: 6px 23px;
    margin-right: 0px;
}
.email_question {
	margin-top: 10px;
    padding: 6px 26px;
}
.btn_send {
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
}
.footer_social {
    height: 50px;
     width: 100%;
    padding-right: 17%;
    padding-left: 17%;
    margin-top: 19px;
}
.join_me {
    font-size: 14px;
    margin-top: -2px;
}
}



@media screen and (min-width: 1440px){
    .name{
    left: 39%;
}
    .header_text {
    font-size: 219px;
}
.about_me__img {
    width: 598px;
    height: 421px;
}
header {
    padding: 62px 210px 60px 55px;
    }
}

@media screen and (max-width: 1199px){
 .name{
    left:380px;
 }

.menu__item {
  font-size: 23px;

}
h2{
    width: 100%;
    color: #273d46;
    font-size: 26px;
    margin-bottom: 54px;
}
.last_travel_story__text{
    width: 100%;
    font-size: 18px;
}
.storypage_btn{
    letter-spacing: 3px;

    }
.storypage_btn:hover{
    letter-spacing: 4px;
    }
.last_travel_story__img{
    width: 505px;
    height: 477px;
    z-index: -4;
}
.last_travel_story__mini-img{
    width: 372px;
    height: 248px;
    margin-top: 84px;
    }
.blog_item{
width: 30%;
height:500px;
margin-bottom: 40px;
justify-content: space-around;
}
.about_me{
    margin-top: 22px;
    padding: 87px 195px 0 133px;
    position: relative;
}
.about_me__img{
    width: 509px;
    height: 367px;
}
.quote_wrap{
    margin-top: 42px;
    margin-left: 183px;
}
.about_me h3{
    text-align: left;
    font-size: 29px;
    width: 260px;
}
.quote{
    width: 685px;
    height: 271px;
    padding: 34px 98px 60px 97px;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.13);
    font-size: 14px;
    position: absolute;
    bottom: -132px;
    right: 33px;
    }
.quote_text{
    font-style: italic;
    font-size: 26px;
    line-height: 46px;
    color: #273d46;
}
.quote .description{
    margin-top: 11px;
    margin-bottom: -3px;
}
}



@media (max-width: 576px){
header {
    width: 100%;
    margin: 0 auto;
    height: 239px;
    padding: 84px 18px 39px 10px;
    position: relative;
}
.header_text {
    font-size: 101px;
    margin-top: 20px;
}
.name {
    left: 26%;
}
.burger_menu {
    margin-top: -72px;
    margin-left: -5px;
    z-index: 10;
}
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex; 
  align-items: center;  
  width: 41px;
  height: 23px;
  cursor: pointer;
  z-index: 1;
  margin-bottom: 20px;
 
}
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 45px;
  height: 5px;
  background-color: #939ea2;
  border-radius: 4px;
 }
.menu__btn > span::before {
  content: '';
  top: -10px;
}
.menu__btn > span::after {
  content: '';
  top: 10px;
}
.menu__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 50%;
    height: 279px;
    margin: -8px;
    padding: 0px 0px;
    list-style: none;
    text-align: center;
    z-index: 6;
    background-color: rgba(206,214,217, 0.8);
}
 .menu__item li{
 display: block;
 width: 180px;
 }
.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #273d46;
    margin: 6px 0;
    font-size: 38px;
    text-decoration: none;
}
.menu__item:hover {
 color:#80b7b3;
 }
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  transition-duration: .5s;
  z-index: 7;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  transition-duration: .5s;
   z-index: 7;
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  transition-duration: .5s;
   z-index: 7;
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
}
#menu__toggle:checked ~ label:focus {
    z-index: 20;

} 
.main_story {
    margin-top: 11px;
}
.last_travel_story__mini-img{
    display: none;
}
.last_travel_story__text {
    font-size: 12px;
}

h2 {
    font-size: 15px;
}

.last_travel_story__img {
    width: 426px;
    height: 318px;
}
.blog_item {
    width: 45%;
    height: 414px;
    margin-bottom: 40px;
    margin-right: 15px;
    justify-content: space-around;
}
.about_me {
    display: none;
}

.footer {
    background-repeat: no-repeat;
    width: 100%;
    height: 429px;
    margin-top: 128px;
    padding-top: 74px;
}
.ask_me {
    margin-top: 235px;
    background-color: rgba(60,79,87,0.9);
    width: 325px;
    height: 256px;
    margin: 0 auto;
    padding: 11px 25px 11px 25px;
    border-radius: 30px;
}
.form_text {
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #d8dcdd;
    width: 100%;
    margin: 0 auto;
    line-height: 23px;
    }
 .questions {
    display: block;
    margin-top: 13px;
    font-size: 25px;
    text-align: center;
    color: #80b7b3;
}
.field_question {
    padding: 6px 23px;
    margin-right: 0px;
}
.email_question {
    margin-top: 10px;
    padding: 6px 26px;
}
.btn_send {
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
}
.footer_social {
    height: 50px;
     width: 100%;
    padding-right: 17%;
    padding-left: 17%;
    margin-top: 19px;
}
.join_me {
    font-size: 14px;
    margin-top: -2px;
}
}






@media (min-width:320px )and (max-width: 576px){
header {
    width: 100%;
    margin: 0 auto;
    height: 239px;
    padding: 84px 18px 39px 10px;
    position: relative;
}
.header_text {
    font-size: 101px;
    margin-top: 20px;
}
.name {
    left: 26%;
}
.burger_menu {
    margin-top: -72px;
    margin-left: -5px;
    z-index: 10;
}
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex; 
  align-items: center;  
  width: 41px;
  height: 23px;
  cursor: pointer;
  z-index: 1;
  margin-bottom: 20px;
 
}
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 45px;
  height: 5px;
  background-color: #939ea2;
  border-radius: 4px;
 }
.menu__btn > span::before {
  content: '';
  top: -10px;
}
.menu__btn > span::after {
  content: '';
  top: 10px;
}
.menu__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 50%;
    height: 279px;
    margin: -8px;
    padding: 0px 0px;
    list-style: none;
    text-align: center;
    z-index: 6;
    background-color: rgba(206,214,217, 0.8);
}
 .menu__item li{
 display: block;
 width: 180px;
 }
.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #273d46;
    margin: 6px 0;
    font-size: 38px;
    text-decoration: none;
}
.menu__item:hover {
 color:#80b7b3;
 }
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  transition-duration: .5s;
  z-index: 7;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  transition-duration: .5s;
   z-index: 7;
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  transition-duration: .5s;
   z-index: 7;
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
}
#menu__toggle:checked ~ label:focus {
    z-index: 20;

} 
.main_story {
    margin-top: 11px;
}
.last_travel_story__mini-img{
    display: none;
}
.last_travel_story__text {
    font-size: 12px;
}

h2 {
    font-size: 15px;
}

.last_travel_story__img {
    width: 426px;
    height: 318px;
}
.blog_item {
    width: 45%;
    height: 414px;
    margin-bottom: 40px;
    margin-right: 15px;
    justify-content: space-around;
}
.about_me {
    display: none;
}

.footer {
    background-repeat: no-repeat;
    width: 100%;
    height: 429px;
    margin-top: 128px;
    padding-top: 74px;
}
.ask_me {
    margin-top: 235px;
    background-color: rgba(60,79,87,0.9);
    width: 325px;
    height: 256px;
    margin: 0 auto;
    padding: 11px 25px 11px 25px;
    border-radius: 30px;
}
.form_text {
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #d8dcdd;
    width: 100%;
    margin: 0 auto;
    line-height: 23px;
    }
 .questions {
    display: block;
    margin-top: 13px;
    font-size: 25px;
    text-align: center;
    color: #80b7b3;
}
.field_question {
    padding: 6px 23px;
    margin-right: 0px;
}
.email_question {
    margin-top: 10px;
    padding: 6px 26px;
}
.btn_send {
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
}
.footer_social {
    height: 50px;
     width: 100%;
    padding-right: 17%;
    padding-left: 17%;
    margin-top: 19px;
}
.join_me {
    font-size: 14px;
    margin-top: -2px;
}
}





@media (min-width:576px) and  (max-width: 768px){
.burger_menu {
    margin-left: -53px;
    margin-top: -34px;
}
.menu__item {
    font-size: 31px;
}
h2{
    margin-bottom: 24px;
}
.name{
    font-size: 75px;
}
.header_text {
    font-size: 123px;
   margin-top: 20px;
}
.last_travel_story__mini-img {
    width: 343px;
    height: 230px;
    margin-top: 100px;
    margin-left: -61px;
}
.about_me {
    margin-top: 22px;
    padding: 87px 95px 0 20px;
    position: relative;
}
.about_me__img{
    width: 501px;
    height: 361px;
}
.quote_wrap{
    margin-top: 35px;
    margin-left: 183px;
}
.about_me h3 {
    width: 200px;
    text-align: left;
    font-size: 25px;
}
.quote {
    width: 624px;
    height: 275px;
    padding: 34px 59px 60px 50px;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.13);
    font-size: 14px;
    position: absolute;
    bottom: -132px;
    right: 33px;
}
.quote_text{
    font-style: italic;
    font-size: 22px;
    line-height: 46px;
    color: #273d46;
}
.quote .storypage_btn{
    position: absolute;
    margin-top: 11px;
    margin-left: 182px;

}
.quote .description{
    margin-top: 3px;
    margin-bottom: 6px;
}

}



@media (min-width:768px) and (max-width: 991px){
 .name{
    left: 40%;
 
}
.header_text{
font-size: 159px;
color: #e9ebec;
letter-spacing: 50px;
padding: 0;
}
h2{
    width: 100%;
    color: #273d46;
    font-size: 26px;
    margin-bottom: 44px;
}
.last_travel_story__text{
    width: 100%;
    font-size: 18px;
}
.quote .storypage_btn{
    position: absolute;
    margin-top: 11px;
    margin-left: 182px;
    }
.storypage_btn:hover{
    letter-spacing: 4px;
    }
.last_travel_story__img{
    width: 505px;
    height: 477px;
    z-index: -4;
}
.last_travel_story__mini-img{
    width: 372px;
    height: 248px;
    margin-top: 84px;
    }
.blog_item{
width: 45%;
height:500px;
margin-bottom: 40px;
justify-content: space-around;
}
.about_me{
    margin-top: 22px;
    padding: 87px 195px 0 133px;
    position: relative;
}
.about_me__img{
    width: 509px;
    height: 367px;
}
.quote_wrap{
    margin-top: 42px;
    margin-left: 206px;
}
.about_me h3{
    text-align: left;
    font-size: 29px;
}
.quote{
    width: 685px;
    height: 271px;
    padding: 34px 98px 60px 97px;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.13);
    font-size: 14px;
    position: absolute;
    bottom: -132px;
    right: 33px;
    }
.quote_text{
    font-style: italic;
    font-size: 26px;
    line-height: 46px;
    color: #273d46;
}
.quote .description{
    margin-top: 11px;
    margin-bottom: -3px;
}

}


@media (min-width:992px) and (max-width:1199px){
 .name{
    left:380px;
 }

.menu__item {
  font-size: 23px;

}
h2{
    width: 100%;
    color: #273d46;
    font-size: 26px;
    margin-bottom: 54px;
}
.last_travel_story__text{
    width: 100%;
    font-size: 18px;
}
.storypage_btn{
    letter-spacing: 3px;

    }
.storypage_btn:hover{
    letter-spacing: 4px;
    }
.last_travel_story__img{
    width: 505px;
    height: 477px;
    z-index: -4;
}
.last_travel_story__mini-img{
    width: 372px;
    height: 248px;
    margin-top: 84px;
    }
.blog_item{
width: 30%;
height:500px;
margin-bottom: 40px;
justify-content: space-around;
}
.about_me{
    margin-top: 22px;
    padding: 87px 195px 0 133px;
    position: relative;
}
.about_me__img{
    width: 509px;
    height: 367px;
}
.quote_wrap{
    margin-top: 42px;
    margin-left: 183px;
}
.about_me h3{
    text-align: left;
    font-size: 29px;
    width: 260px;
}
.quote{
    width: 685px;
    height: 271px;
    padding: 34px 98px 60px 97px;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.13);
    font-size: 14px;
    position: absolute;
    bottom: -132px;
    right: 33px;
    }
.quote_text{
    font-style: italic;
    font-size: 26px;
    line-height: 46px;
    color: #273d46;
}
.quote .description{
    margin-top: 11px;
    margin-bottom: -3px;
}
}

 */
