@media (max-width: 767px){
    .footer {
        background-image: url(./footer-photo.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 447px;
        margin-top: 32px;
        padding-top: 14%;
        background-size: cover;
        }
        .ask_me {
        background-color: rgba(60,79,87,0.9);
        width: 70%;
        height: 64%;
        margin: 0 auto;
        padding: 16px 11px 6px 11px;
        border-radius: 30px;
        }
        .form_text {
        display: block;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        color: #d8dcdd;
        width: 100%;
        margin: 0 auto;
        line-height: 15px;
        }
        .questions {
        display: block;
        margin-top: 17px;
        }
        .field_question, .email_question {
        border-radius: 100px;
        width: 100%;
        height: 40px;
        padding: 8px 16px;
        margin-bottom: 3%;
        }
        .btn_send {
        display: block;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: 40px;
        margin-left: 0px;
        background-color: #80b7b3;
        color: white;
        font-size: 13px;
        text-align: center;
        letter-spacing: 4px;
        line-height: 33px;
        border-radius: 100px;
        transition: 0.4s;
        margin: 0 auto;
        margin-top: 3%;
        margin-bottom: 3%;
        }
        .footer_social {
        height: 50px;
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding-right: 7%;
        padding-left: 7%;
        justify-content: space-between;
        margin-top: 60px;
        }
}
        
        



@media (min-width: 768px){
.footer{
    background-image: url(footer-photo.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 629px;
    margin-top: 277px;
    padding-top:135px ;
    background-size: cover;
    }
    .ask_me{
    margin-top: 260px;
    background-color:  rgba(60,79,87,0.9);
    width: 669px;
    height: 325px;
    margin:0 auto;
    padding:59px 71px 56px 71px;
    border-radius: 30px;
    }
    .question input{
    display: block;
    
    }
    .form_text{
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #d8dcdd;
    width: 440px;
    margin:0 auto;
    line-height: 30px;
    }
    .questions{
    display: block;
    margin-top: 39px;
    font-size: 25px;
    text-align: center;
    color: #80b7b3;
    }
    .field_question{
    border-radius: 100px;
    width: 247px;
    height: 44px;
    outline: none;
    -moz-appearance: none;
    border: 1px solid #999;
    padding: 5px 5px;
    font-size: 16px;
    background-color: rgba(0,0,0,0.2); 
    border: 1px solid  rgba(92,106,110,0.9);
    color: #a3aaac;
    padding:18px 36px;
    margin-right: 26px;
    }
    .email_question{
    outline: none;
    -moz-appearance: none;
    border: 1px solid #999; 
    border-radius: 100px;
    width: 247px;
    height: 44px;
    background-color: rgba(0,0,0,0.2); 
    border: 1px solid  rgba(92,106,110,0.9);
    color: #a3aaac;	
    padding:18px 36px;
    font-size: 16px;
    }
    .email_description{
    display: block;
    margin-top: 20px;
    color: #80b7b3;
    }
    
    .btn_send{
    display: block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    width: 232px;
    height: 44px;
    margin-left: -3px;
    background-color: #80b7b3;
    color: white;
    font-size: 14px;
    text-align: center;
    letter-spacing: 4px;
    line-height: 40px;
    border-radius: 100px;
    margin-top: 21px;
    transition: 0.4s;
    margin:0 auto;
    margin-top: 20px;
    }
    .btn_send:hover{
    transition: 0.4s;
    background-color: #80b7b3;
    letter-spacing: 6px;
    background-color: #98c7c4;
    cursor: pointer;
    }
    .btn_send:active{
    text-decoration: none;
    border: none;
    outline: none;
    }
    .footer_social{
    height: 50px;
    width: 650px;
    display: flex;
    margin: 0 auto;
    padding-right: 20%;
    padding-left: 20%;
    justify-content: space-between;
    margin-top: 70px;
    }
    .icons {
    color: white;
    display: flex;
    width: 35px;
    height: 35px;
    transition: 0.4s;
    justify-content: space-between;
    }
    .icons:hover{
    cursor: pointer;
    transition: 0.4s;
    transform: scale(1.1);
    }
    .join_me{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #a2a9ab;
    justify-content: center;
    margin-top: 10px;
    }
}
