@media (max-width: 767px){
    .container {
    width: 100%;
    margin: 0 auto;
}
    /* header {
    width: 100%;
    margin: 0 auto;
    height: 139px;
    padding: 81px 55px 43px 55px;
    position: relative;
    }
    .header_text {
    font-size: 41px;
    margin-top: 19px;
    margin-left: 3px;
    letter-spacing: 17px;
    }
    .name {
    width: 110px;
    height: 83px;
    font-size: 29px;
    left: 32%;
    }
    .burger_menu {
    margin-top: -74px;
    margin-left: -47px;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 45px;
    height: 5px;
    background-color: #939ea2;
    border-radius: 4px;
    }
    .menu__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 50%;
    height: 234px;
    margin: -8px;
    padding: 0px 0px;
    list-style: none;
    text-align: center;
    z-index: 6;
    background-color: rgba(206,214,217, 0.8);
    }
    #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    transition-duration: .5s;
    z-index: 7;
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    transition-duration: .5s;
    z-index: 7;
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    transition-duration: .5s;
    z-index: 7;
    }
    #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    }
    #menu__toggle:checked ~ label:focus {
    z-index: 20;
    }  */
    /* .blog_320{
    margin-top: 48px;
    }
    .main_story{
    display: none;
    }
    .list-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .blog_cards {
    padding: 0 15px 47px 15px;
    width: 60%;
    height: 285px;
    margin-bottom: 18px;
    }
    .blog_item {
    width: 60%;
    height: 285px;
    margin-bottom: 20px;
    }
    .blog_item .storypage_btn {
    width: 178px;
    height: 40px;
    margin-top: 10px;
    } */
    /* iframe{
    height: 300px;
    } */
    .about_me{
    display: none;
    }
}
    /* .footer {
    background-image: url(./Footer/footer-photo.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 447px;
    margin-top: 87px;
    padding-top: 14%;
    background-size: cover;
    }
    .ask_me {
    background-color: rgba(60,79,87,0.9);
    width: 70%;
    height: 236px;
    margin: 0 auto;
    padding: 16px 11px 6px 11px;
    border-radius: 30px;
    }
    .form_text {
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #d8dcdd;
    width: 100%;
    margin: 0 auto;
    line-height: 15px;
    }
    .questions {
    display: block;
    margin-top: 17px;
    }
    .field_question, .email_question {
    border-radius: 100px;
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    }
    .btn_send {
    display: block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 40px;
    margin-left: 0px;
    background-color: #80b7b3;
    color: white;
    font-size: 13px;
    text-align: center;
    letter-spacing: 4px;
    line-height: 33px;
    border-radius: 100px;
    margin-top: 21px;
    transition: 0.4s;
    margin: 0 auto;
    margin-top: 18px;
    }
    .footer_social {
    height: 50px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-right: 7%;
    padding-left: 7%;
    justify-content: space-between;
    margin-top: 60px;
    }
    }
    
     */