@media (max-width: 767px){
    .description_video{
        display: block;
        height: 30px;
        margin-left: 49%;
        margin-top: 30px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 30px; 
        color: #7d8b90;
        transition: 0.5s;
        }
        .description_video:hover{
        transition: 0.5s;
        transform: scale(1.2);
        color: #80b7b3;
        cursor: pointer;
         }
         iframe{
            display: block;
            height: 400px;
            }
}








@media (min-width: 768px){
.description_video{
    display: block;
    margin-left: 80%;
    width: 200px;
    margin-top: 40px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px; 
    color: #7d8b90;
    transition: 0.5s;
    }
    .description_video:hover{
    transition: 0.5s;
    transform: scale(1.2);
    color: #80b7b3;
    cursor: pointer;
     }
     iframe{
             display: block;
            }
    }



   