.main_content_page{
    width: 53%;
    margin:0 auto;
  }

  h3{
    display: block;
    color: #273d46;
    font-size: 46px;
    margin-bottom: 34px;
    line-height: 46px;
    }

.blog_card_img_page{
    display: flex;
    width: 100%;
    height: 200px;
    }

    .blog_text_page{
        font-size: 18px;
    }